.modal-content {
    border-radius: 10px;
  }
  
  .modal-header {
    background-color: #ffe6e6;
    color: #ff3366;
  }
  
  .modal-title {
    font-weight: bold;
  }
  
  .modal-footer a {
    color: #ff3366;
    text-decoration: none;
  }
  
  .modal-footer a:hover {
    text-decoration: underline;
  }
  